<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>
    <p>Explore <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <ion-list>
    <ion-item>
      <ion-label>{{ 'Inbox.lang' | translate }}</ion-label>
      <!-- ALWAYS REMEMBER MATCH THE VALUE FRON THE PIPE CALL WITH THE OBJECTS DEFINED IN THE .json TRANSLATE FILES -->
      <ion-toggle [(ngModel)]="lang" (ionChange)="updateLang()"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>
